@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

:root {
  --color-neutral-0: #fff;
  --color-gradient-0: #e4d4f0d8;
  --color-gradient-1: #8f7bdada;
  --color-gradient-2: #5d39e0da;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, var(--color-gradient-0), var(--color-gradient-1), var(--color-gradient-2));
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 800px;
  width: 1600px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.clock div {
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-0);
  background: rgba(65, 29, 122, 0.9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  letter-spacing: 3px;
}

.clock span {
  font-weight: bolder;
  font-size: 300px;
}

.clock span.time {
  font-size: 45px;
}
